# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/nattrackivac2/node_modules/
/nattrackivac2/earlier
/nattrackivac2/npm-debug.log
/nattrackivac2/tracksE.map
/nattrackivac2/tracksW.map
/mapping/fir.geojson.txt
